<!doctype html>
<html lang="en" ng-app="ToDoList">
  <head>
    <meta charset="utf-8">
    <title>ToDo List</title>
    <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.css">
    <script src="bower_components/jquery/dist/jquery.js"></script>
    <script src="bower_components/angular/angular.js"></script>
    <script src="bower_components/angular-resource/angular-resource.js"></script>
    <script src="js/app.js"></script>
    <script src="js/toDoListController.js"></script>
  </head>

  <body class = "container" ng-controller="ToDoListController as listCtrl">
    <div class = "panel" ng-init = "tab = 1">
      <h3>ToDo List</h3>
      <form class="form-horizontal">
        <input type="text" ng-model="listCtrl.task.entry" placeholder="What needs to be done?">
        <button class="btn" ng-click="listCtrl.addTask()">Add task</button>
      </form>
      <div class="panel-body" ng-show = "tab === 1">
        <ul class="list-group" style="list-style-type:none" ng-repeat="task in listCtrl.list">
          <li >
            {{task.entry}} {{task.done}}
            <input type="checkbox" name="task" value="Done" ng-model = "task.done" ng-true-value = "'complete'" ng-false-value = "'active'">
            <button class = "pull-right" class="btn-small" ng-click="listCtrl.deleteTask(task)">x</button>
          </li>
        </ul>
      </div>
      <div class="panel-body"  ng-show = "tab === 2">
        <ul class="list-group" style="list-style-type:none" ng-repeat="task in listCtrl.list">
          <li ng-show = "task.done === 'active'">
            {{task.entry}} {{task.done}}
            <input type="checkbox" name="task" value="Done" ng-model = "task.done" ng-true-value = "'complete'" ng-false-value = "'active'">
            <button class = "pull-right" class="btn-small" ng-click="listCtrl.deleteTask(task)">x</button>
          </li>
        </ul>
      </div>
      <div class="panel-body" ng-show = "tab === 3">
        <ul class="list-group" style="list-style-type:none" ng-repeat="task in listCtrl.list">
          <li ng-show = "task.done === 'complete'">
            {{task.entry}} {{task.done}}
            <input type="checkbox" name="task" value="Done" ng-model = "task.done" ng-true-value = "'complete'" ng-false-value = "'active'">
            <button class = "pull-right" class="btn-small" ng-click="listCtrl.deleteTask(task)">x</button>
          </li>
        </ul>
      </div>
      <div> Total number of tasks: {{listCtrl.list.length}}</div>
      <div class="panel-footer" >
        <ul class = "nav nav-pills">
          <li> <a href ng-click = "tab=1">All</a> </li>
          <li> <a href ng-click = "tab=2">Active</a> </li>
          <li> <a href ng-click = "tab=3">Complete</a> </li>
          <li> <a href ng-click = "listCtrl.deleteAll()">Clear all</a> </li>
        </ul>
      </div>


    </div>
  </body>
</html>