<!doctype html>
<html lang="en" ng-app="ToDoList">
  <head>
    <meta charset="utf-8">
    <title>ToDo List</title>
    <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.css">
    <script src="bower_components/jquery/dist/jquery.js"></script>
    <script src="bower_components/angular/angular.js"></script>
    <script src="bower_components/angular-resource/angular-resource.js"></script>
    <script src="js/app.js"></script>
    <script src="js/toDoListController.js"></script>
    <script src="js/filterController.js"></script>
    <script src="js/taskLineDirective.js"></script>
  </head>

  <body class = "container" ng-controller="ToDoListController as listCtrl">
    <div class = "panel" ng-controller = "FilterController as filterCtrl">
      <h3>ToDo List</h3>
      <form class="form-horizontal">
        <input type="text" ng-model="listCtrl.task.entry" placeholder="What needs to be done?">
        <button class="btn" ng-click="listCtrl.addTask()">Add task</button>
      </form>
      <div class="panel-body" ng-show = "filterCtrl.isSelected('all')">
        <ul class="list-group" style="list-style-type:none" ng-repeat="task in listCtrl.list">
          <li>
            <task-line></task-line>
          </li>
        </ul>
      </div>
      <div class="panel-body"  ng-show = "filterCtrl.isSelected('active')">
        <ul class="list-group" style="list-style-type:none" ng-repeat="task in listCtrl.list">
          <li ng-show = "task.done === 'active'">
            <task-line></task-line>
          </li>
        </ul>
      </div>
      <div class="panel-body" ng-show = "filterCtrl.isSelected('complete')">
        <ul class="list-group" style="list-style-type:none" ng-repeat="task in listCtrl.list">
          <li ng-show = "task.done === 'complete'">
            <task-line></task-line>
          </li>
        </ul>
      </div>
      <div> Total number of tasks: {{listCtrl.list.length}}</div>

      <div class="panel-footer">
        <ul class = "nav nav-pills">
          <li ng-class = "{active:filterCtrl.isSelected('all')}">
            <a href ng-click = "filterCtrl.selectFilter('all')">All</a>
          </li>
          <li ng-class = "{active:filterCtrl.isSelected('active')}">
            <a href ng-click = "filterCtrl.selectFilter('active')">Active</a>
          </li>
          <li ng-class = "{active:filterCtrl.isSelected('complete')}">
            <a href ng-click = "filterCtrl.selectFilter('complete')">Complete</a>
          </li>
          <li ng-class = "{active:filterCtrl.isSelected('clear')}">
            <a href ng-click = "filterCtrl.selectFilter('clear'); listCtrl.deleteAll()">Clear all</a>
          </li>
        </ul>
      </div>


    </div>
  </body>
</html>